body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;

    & button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;

        & img {
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    & .header_detalhes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;

        & .categoria {
            & div {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: start;
                gap: 8px;
                
                & #categoria_nome {
                    margin-bottom: 5px;
                    margin-right: 10px;
                    font-size: 1.5rem;
                }
            }

            & .categoria_descricao {
                font-size: 1rem;
                color: #666;
            }
        }

        & .saldo {
            min-width: max-content;
            margin-left: 20px;

            & #saldo_atual {
                font-size: 3rem;
                color: white;
                padding: 0 15px;
                border-radius: 8px;
            }
        }
    }

    & .receitas, .despesas {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .receitas_header, .despesas_header {
            display: flex !important;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        & .lancamento {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 150px 100px 80px; 
            gap: 10px;
            align-items: center;
            padding: 15px;
            background-color: white;
            border: 1px solid #fff;
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            & p:last-child {
                text-align: right;
            }

            & .botoes {
                gap: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
            }
        }   
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    & .modal-content {
        background: white;
        padding: 25px;
        border-radius: 8px;
        width: 90%;
        max-width: 400px;

        & h3 {
            margin-bottom: 15px;
        }

        & form {
            display: flex;
            flex-direction: column;

            & label {
                font-size: 0.9rem;
            }

            & input, textarea {
                padding: 9px 10px;
                margin-bottom: 15px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 0.8rem;
                height: 35px;

                &:focus {
                    outline: none;
                }
                
            }

            & textarea {
                resize: none;
                overflow-y: hidden;
            }

            & .input_valor {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                & p {
                    padding: 7px 0;
                    margin-bottom: 15px;
                    margin-top: 5px;
                    font-size: 0.9rem;
                }
            }

            & .inputs_lado_a_lado {
                display: grid;
                grid-template-columns: 1fr 1fr; 
                gap: 15px;
                align-items: center;

                & input {
                    width: 100%;
                }
            }
        }

        & .modal-actions {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 1rem;

            & button {
                border: none;
                border-radius: 8px;
                padding: 7px 10px;
                font-size: 0.8rem;
                cursor: pointer;
            }

            & .btn-cancelar {
                background-color: var(--vermelho);
                color: white;

                &:hover {
                    background-color: var(--vermelho-hover);
                }
            }

            & .btn-salvar {
                background-color: #173041;
                color: white;

                &:hover {
                    background-color: var(--azul-escuro-hover);
                }
            }
        }
    }
}

.modal.hidden {
  display: none;
}

@media screen and (max-width: 1300px) {
    main {
        & .header_detalhes {
            & .saldo {
                & #saldo_atual {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main {
        & .header_detalhes {
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            
            & .categoria {     
                & div {
                    & #categoria_nome  {
                        text-align: center;
                        margin-right: 0;
                    }
                }
                & .categoria_descricao {
                    text-align: center;
                }
            }
            & .saldo {
                margin-left: 0;
                text-align: center;

                & #saldo_atual {
                    font-size: 2.5rem;
                }
            }
        }

        & .receitas, .despesas {
            & .lancamento {
                & .descricao {
                    grid-area: descricao;
                }
                & .data {
                    text-align: center;
                    grid-area: data;
                }
                & .valor {
                    text-align: center;
                    grid-area: valor;
                }
                & .botoes {
                    grid-area: botoes;
                }

                grid-template-columns: 3fr 3fr 1fr;
                grid-template-areas: 
                    "descricao descricao botoes"
                    "data valor botoes";
            }
        }
    }

}


@media screen and (max-width: 525px) {
    main {
        & .header_detalhes {
            margin: 20px 0;
            & .saldo {
                & #saldo_atual {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    main {
        & .header_detalhes {
            & .categoria {
                & div #categoria_nome {
                    font-size: 1.3rem;
                }
            }
            & .saldo {
                & #saldo_atual {
                    font-size: 2rem;
                }
            }
        }

        & .receitas, .despesas {
            & .lancamento {
                font-size: 0.85rem;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    main {
        & .header_detalhes {
            & .categoria {
                & div #categoria_nome {
                    font-size: 1.2rem;
                }
            }
            & .saldo {
                & #saldo_atual {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
