body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;

    & .header_detalhes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;
        flex-wrap: wrap;

        & .ca {
            & #ca_nome {
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 1.5rem;
            }

            & .ca_curso {
                font-size: 1rem;
                color: #666;
            }
        }

        & .saldo {
            display: flex;
            flex-direction: row;
            align-items: center;

            & .div_saldo_texto {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                padding: 15px 0;

                & #saldo_texto {
                    padding: 0 20px;
                    margin-right: 20px;
                    align-self: stretch;
                    color: white;
                    border-radius: 8px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            & #saldo_atual {
                font-size: 4rem;
            }
        }
    }

    & .categorias {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .categorias_header {
            display: flex !important;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        & .categoria {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: white;
            border: 1px solid #fff;
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.3s;
            text-decoration: none;
            color: var(--azul-escuro);

            & p:last-child {
                min-width: max-content;
            }

            &:hover {
                border: 1px solid var(--azul-escuro);
                transform: scale(1.015);
                transition: transform 0.3s ease;
            }
        }   
    }
}

@media screen and (max-width: 1300px) {
    main {
        & .header_detalhes {
            & .saldo {
                & #saldo_atual {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        & .header_detalhes {
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            & .ca {
                & #ca_nome {
                    text-align: center;
                }
                & .ca_curso {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 525px) {
    main {
        & .header_detalhes {
            margin: 20px 0;
            & .saldo {
                & .div_saldo_texto {
                    padding: 8px 0;
                }
                & #saldo_atual {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    main {
        & .header_detalhes {
            margin: 10px 0;

            & .ca {
                & #ca_nome {
                    font-size: 1.3rem;
                }
            }
            & .saldo {
                & .div_saldo_texto {
                    padding: 9px 0;
                }

                & #saldo_atual {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    main {
        & .header_detalhes {
            & .ca {
                & #ca_nome {
                    font-size: 1.2rem;
                }
            }
            & .saldo {
                & #saldo_atual {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
