:root {
    --azul-escuro: #173041;
    --azul-escuro-hover: #204259;
    --azul-escuro-botoes: #6B8CA2;
    --azul-claro: #358fd9;
    --azul-claro-hover: #2a6eb4;
    --verde: #28a745;
    --verde-hover: #1e8436;
    --vermelho: #dc3545;
    --vermelho-hover: #c02c3b;
}

* {
    font-family: inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: poppins, inter, sans-serif;
}

body {
    background-color: #f3f3f3;
    color: var(--azul-escuro);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--azul-escuro);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;

    & a.logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--azul-claro);

        & img {
            width: 40px;
            margin-right: 10px;
        }
    }

    & nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        & a {
            text-decoration: none;
            color: var(--azul-claro);
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
                color: var(--azul-claro-hover);
            }
        }
    }
}

footer {
    background-color: var(--azul-escuro);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    font-size: 0.8rem;

    & a {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;

        &:hover {
            color: var(--azul-claro);
        }
    }
}


@media screen and (max-width: 1300px) {
    .container {
        max-width: 80vw;
    } 
}

@media screen and (max-width: 525px) {
    header {
        justify-content: center;

        & a {
            & img {
                width: 20px;
            }

            & h2 {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
        font-size: 0.7rem;
    }
}